<h3>Recent Activity</h3>
        <hr>
        {% for message in room_messages %}
        
        <div>
            {% if request.user == message.user or request.user.is_superuser or request.user.is_staff %}
            <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}} {{message.created|timesince}}</a></small>
            <small> Commented to "{{message.room}}"</small>
            <!-- <p>{{message}}</p> -->
            <p>{{message.body}}</p> 
            {% endif %}
           
            {% if request.user == message.user or request.user.is_superuser %}
            <a href="{% url 'delete-message' pk=message.id %}">Delete</a>
            <hr>
            {% endif %}
            
        </div>
        {% endfor %}
